<main>
    <div class="wrapper">
  <img src="/assets/luigi-transparent.png" alt="Luigi" class="luigi-img" />
     <section class="login-container">
         <div class="login-box">
             <img src="/assets/logo.png" alt="logotipo Lost Games" class="logo-user-page">
            <h2>Iniciar sesión</h2>
            <form action="#" method="POST">
                <div class="input-group">
                    <input type="email" id="email" placeholder="Email ID" required>
                </div>
                <div class="input-group">
                     <input type="password" id="password" placeholder="Password" required>
                </div>
                 <p>
                     <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a> 
                    <a href="#" class="create-acc">Crear Cuenta</a>
                </p>
                <button type="submit" class="login-btn">Login</button>
            </form>
        </div>
    </section>

    <img src="/assets/LuigiGhostR.webp" alt="Fantasma" class="fantasma-img" />
</div>
</main>