main{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #1f1c2c, #928dab);
    background-size: 400% 400%;
    background: linear-gradient(135deg, #f5d0c5, #f9e0e7);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    margin: 20px;
}

.login-box {
    background: rgba(34, 35, 36, 0.9);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 500px;
    height: 450px;
    margin: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.logo-user-page {
    max-width: 100px;
    max-height: auto;
    margin: 0;
}

.login-box h2 {
    color: #fff;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.forgot-password {
    display: block;
    color: #a09fa0;
    margin-bottom: 15px;
    font-size: 14px;
    text-decoration: none;
}

.create-acc {
    display: block;
    color: #a09fa0;
    margin-bottom: 15px;
    font-size: 14px;
    text-decoration: none;
}

.login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #7842a1;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-left: 300px;
  }
  
  .luigi-img {
    position: relative;
    top: -200px;
    height: 250px;
    margin-right: -125px; /* чтобы впритык подходил к контейнеру */
    z-index: 2;
  }

  .fantasma-img {
    position: relative;
    top: -150px;
    height: 350px;
    margin-left: -100px; /* чтобы вплотную подходил к форме */
    z-index: 2;
  }
  