<header>
  <div class="logo"><a routerLink="/"><img class="logo" src="../img/logo.png" alt="">Lost Games</a></div>
  <ul class="nav-links">
      <li><a routerLink="/pcgamespage">PC</a></li>
      <li><a routerLink="/playstation">PlayStation</a></li>
      <li><a routerLink="/nintendo">Nintendo</a></li>
      <li><a routerLink="/xboxgamespage">XBOX</a></li>
      <li><a class="user-icon" routerLink="/userpage"><img src="../img/ghostUserIcon.png" alt=""> Cuenta</a></li>
      <li><a class="cesta-img" routerLink="/cesta"> <img src="../img/cesta.webp" alt="">Cesta</a></li>
  </ul>
</header>
