<header>
    <div class="logo">
    <a href="../../img/logo.png" class="logo">
        <img src="../img/logo.png" alt="logotipo Lost Games" class="logo-img">
        <span class="logo-text">Lost Games</span>
    </a>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a routerLink="/pc-page" routerLinkActive="active">PC</a></li>
            <li><a routerLink="/playstation" routerLinkActive="active">PlayStation</a></li>
            <li><a routerLink="/nintendo" routerLinkActive="active">Nintendo</a></li>
            <li><a routerLink="/xbox-page" routerLinkActive="active">Xbox</a></li>
            <li>
                <a routerLink="/account" class="user-icon" routerLinkActive="active">
                    <img src="assets/img/ghostUserIcon.png" alt="">
                    Cuenta
                </a>
            </li>
            <li><a routerLink="/cart" class="cesta-img" routerLinkActive="active">
                <img src="/lost-games/public/assets/cesta.webp" alt="">
                Cesta
              </a></li>
        </ul>
    </nav>
</header>
