*{
    text-decoration: none;
}

header {
    background-color: #343633; /* Color ajustado */
    color: white;
    height: 85px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Agregado un sutil shadow para darle profundidad */
    
}

header .logo a {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    vertical-align: middle;
}

.logo img {
    width: 50px;
    vertical-align: middle;
}

header .nav-links {
    font-size: 19px;
    list-style: none;
    display: flex;
}

header .nav-links li {
    margin: 10px;
}

header .nav-links a {
    font-weight: bold;
    color: #DADFF7; /* Color de los enlaces ajustado a un tono más suave */
    text-decoration: none; /* Se quita el subrayado */
    transition: color 0.3s ease;
}

header .nav-links a:hover {
    color: #755ed7; /* Color de hover ajustado al tono del hero */
}

header  span:hover {
    color: #755ed7;
}

.user-icon img {
    max-height: 25px;
    justify-content: center;
    margin-left: 35px;
}

.cesta-img img {
    max-height: 25px;
    justify-content: center;
    margin-left: 5px;
}

.logo-text {
    font-weight: bold;
    color: #DADFF7; /* Color de los enlaces ajustado a un tono más suave */
    text-decoration: none; /* Se quita el subrayado */
    transition: color 0.3s ease;
}