footer {
    background-color: #222324; 
    color: white; 
}
.footerContainet{
    width: 100%;
    padding: 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons img{
    margin: 20px 20px 0px 20px;
    width: 35px;
    height: 35px;
}
.footerNav{
    margin: 20px;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.footerNav ul li a{
    margin: 20px;
    text-decoration: none;
    color: white;
}
.footerBottom{
    background-color: #7842a1;
    text-align: center;
    padding: 15px;
}
