<footer>
  <div class="footerContainer">
      <div class="socialIcons">
          <a href="https://www.instagram.com/"><img src="assets/footer/icon-white-instagram.webp" alt="Instagram"></a>
          <a href="https://www.x.com/"><img src="assets/footer/icon-white-twitter.png" alt="Twitter"></a>
          <a href="https://www.youtube.com/"><img src="assets/footer/icon-white-yt.webp" alt="Youtube"></a>
      </div>
      <div class="footerNav">
          <ul>
              <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
              <li><a href="#">Noticias</a></li>
              <li><a href="mailto:LostGames@gmail.com">Contáctanos</a></li>
              <li><a href="#">Sobre nosotros</a></li>
          </ul>
      </div>
      <div class="footerBottom">
          <p>Copyright &copy; 2025 Lost Games. &nbsp; &nbsp; Todos los derechos reservados.</p>
      </div>
  </div>
</footer>
