<app-header></app-header>

<div class="alert alert-success">
  Todo está fino, mi rey.
</div>

<main>
  <section class="hero-for-pc">
    <div class="hero-content">
      <div class="text-section">
        <h1>LOST GAMES</h1>
        <p>Los Games más Lost de internet.<br>bibubip</p>
        <a routerLink="/catalog" class="btn">Ver catálogo</a>
      </div>
    </div>
  </section>


  <div class="featured">
    <h1>OFERTA</h1>
    <div class="featured-dentro">
      <h2>Dr. House (Nintendo DS) (Versión francesa)</h2>
      <img src="assets/img/juegos/dr-house.jpg" alt="Dr. House (DS)">
    </div>
    <a routerLink="/cart"><button class="btn-index">Cómpralo YA</button></a>
  </div>


  <section class="products">
    <h2>Catálogo</h2>
    <div class="product-grid">

    </div>
  </section>
</main>

<app-footer></app-footer>
