<main>
    <section class="hero-for-pc">
        <div class="hero-content">
            <div class="text-section">
                <h1>PLAYSTATION GAMES</h1>
                <p>
                    Ediciones coleccionista para todos tipos de PlayStation <br>
                    de tus juegos favoritos Consolas, Mandos y mucho mas
                </p>
                <a href="#" class="btn">Ver catálogo</a>
            </div>
            <!-- <img src="../../../assets/play/screamFondo.jpg" alt="PLAYSTATION" class="hero-image"> -->
        </div>
    </section>
    <div class="featured">
        <h1>Productos</h1>
    </div>
    <section class="products">


        <div class="slider">
            <button class="slider-btn left" onclick="prevSlide()">&#10094;</button>
            <div class="slider-container" id="slides">
                <div class="slide"><img src="../../../assets/play/slider/ds2.jpg" alt="Imagen 1"></div>
                <div class="slide"><img src="../../../assets/play/slider/ghostOfYotei.webp" alt="Imagen 2"></div>
                <div class="slide"><img src="../../../assets/play/slider/LobeznoGame.jpg" alt="Imagen 3"></div>
            </div>
            <button class="slider-btn right" onclick="nextSlide()">&#10095;</button>
        </div>
    
<script>
  let index = 0;
    function showSlide(n) {
        const slides = document.querySelectorAll('.slide');
        if (n >= slides.length) index = 0;
        if (n < 0) index = slides.length - 1;
        document.getElementById('slides').style.transform = `translateX(${-index * 100}%)`;
    }

    function nextSlide() {
        index++;
        showSlide(index);
    }

    function prevSlide() {
        index--;
        showSlide(index);
    }
</script>
        <h2>Ediciones coleccionista y ediciones de consolas exclusivas para PlayStation</h2>
        <app-product-card [product]="{
            title: 'Angry Birds Space (PC)',
            image: '/assets/index/smtDevil.jpg',
            description: 'Test de campo para juego',
            price: '10.99€'
          }"></app-product-card>
        <div class="product-grid">
            <div class="product">
                <img src="../../../assets/play/godOfWarRagColl.jpg" alt="Product 1">
                <p>God of War: Ragnarök</p>
                <span>299.99€</span>
            </div>
            <div class="product">
                <img src="../../../assets/play/killzoneColl.jpg" alt="Product 2">
                <p>Killzone 3</p>
                <span>349.99€</span>
            </div>
            <div class="product">
                <img src="../../../assets/play/ps4Transparente.webp" alt="Product 3">
                <p>PlayStation 4 Transparente º3 (numero 3 de 500)</p>
                <span>999.99€</span>
            </div>
        </div> &nbsp;&nbsp;
        <div class="product-grid">
            <div class="product">
                <img src="../../../assets/play/godOfWar3Coll.jp.jpg" alt="Product 1">
                <p>God of War 3</p>
                <span>349.99€</span>
            </div>
            <div class="product">
                <img src="../../../assets/play/PS5ps1edition.webp" alt="Product 2">
                <p>PlayStation 5 edicion PS1 1/1000</p>
                <span>799.99€</span>
            </div>
            <div class="product">
                <img src="../../../assets/play/spiderMan2Coll.jpg" alt="Product 3">
                <p>Spider-Man 2</p>
                <span>399.99€</span>
            </div>
        </div> &nbsp;&nbsp;
        <h2>Discos Raros De Encontrar Puedes Comprar Simple y Rapido Aqui</h2>
        <div class="container">
            <div class="vinyl">
                <img src="../../../assets/play/finalFantasy-ps2.jpg" alt="Producto 1">
                <p>FF</p>
                <span>Precio: €109.99</span>
            </div>
            <div class="vinyl">
                <img src="../../../assets/play/Silent-Hill-2--PS2.jpg" alt="Producto 2">
                <p>Silent Hill</p>
                <span>Precio: €109.99</span>
            </div>
            <div class="vinyl">
                <img src="../../../assets/play/god-of-war-playstation-2.jpg" alt="Producto 3">
                <p>GOW</p>
                <span>Precio: €109.99</span>
            </div>
            <div class="vinyl">
                <img src="../../../assets/play/killzone-ps2.jpg" alt="Producto 4">
                <p>KILLZONE</p>
                <span>Precio: €109.99</span>
            </div>
            <div class="vinyl">
                <img src="../../../assets/play/hitman-ps2.jpg" alt="Producto 5">
                <p>Hitman</p>
                <span>Precio: €99.99</span>
            </div>
            <div class="vinyl">
                <img src="../../../assets/play/Uncharted-3-Drakes-Deception-PS3.jpg" alt="Producto 6">
                <p>Uncharted</p>
                <span>Precio: €69.99</span>
            </div>
            <div class="vinyl">
                <img src="../../../assets/play/persona3-ps2.jpg" alt="Producto 7">
                <p>Persona 3</p>
                <span>Precio: €79.99</span>
            </div>
        </div>
        &nbsp;&nbsp;
        <div class="product-grid">
            <div class="product">
                <img src="../../../assets/play/marcas/asboiTeam.jpg" alt="AsboiTeam">
            </div>
            <div class="product">
                <img src="../../../assets/play/marcas/InsomniacGamesLogo3.webp" alt="InsomniacGames">
            </div>
            <div class="product">
                <img src="../../../assets/play/marcas/naughtydog.png" alt="Naughtydog">
            </div>
        </div> &nbsp;&nbsp;
        <div class="product-grid">
            <div class="product">
                <img src="../../../assets/play/marcas/SantaMonicaStudio.png" alt="SantaMonicaStudio">
            </div>
            <div class="product">
                <img src="../../../assets/play/marcas/SquareEnix.jpg" alt="SquareEnix">
            </div>
            <div class="product">
                <img src="../../../assets/play/marcas/SuckerPunchProductions.webp" alt="SuckerPunchProductions">
            </div>
        </div> &nbsp;
    </section>              
</main>
