* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  color: #333;
  background-color: #f0e0da;
}

header {
  background-color: #7842a1;
  color: white;
  height: 85px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
      vertical-align: middle;

}


header .logo a {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;

}

.logo img {
  width: 50px;
  vertical-align: middle;
}


header .nav-links {
  font-size: 19px;
  list-style: none;
  display: flex;
}

header .nav-links li {
  margin: 10px;
}

header .nav-links a {
  font-weight: bold;
}

.hero {
  background-color: #222324;
  color: white;
  padding: 20px;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.user-icon img {
  max-height: 25px;
  justify-content: center;
  margin-left: 35px;
}

/*Comento esto porque creo que si no se usa en ningun sitio

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: green;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5000px;
  border: none;
}

button:hover {
  background-color: white;
  color: #454851;
  cursor: pointer;
}
*/
/*para lo de ver catalogo de arriba izquierda*/
a.btn:hover {
  background-color: white;
  color: #222324;
  cursor: pointer;
}

/* HERO (PARA TODOS)*/
.hero-for-pc {
  background-image: url(../img/pc/screamFondo.jpg);
  /*para que lo ocupe todo*/
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #222324;
  color: white;
  padding: 50px 20px;
}

.hero-for-pc .hero-content {
  display: flex;
}

.hero-for-pc .hero-content .hero-image {
  max-width: 150px;
}

.hero-for-pc h1 {
  font-size: 36px;
}

.hero-for-pc p {
  font-size: 18px;
  margin-bottom: 30px;
}

.hero-for-pc .btn {
  padding: 10px 20px;
  background-color: #7842a1;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}
@media (max-width: 768px) {
  .hero-for-pc {
      background-image: none;
  }
}




/*css para pagina de PC fin*/

/* Footer
footer {
  background-color: #222324;
  color: white;

}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-section ul {
  list-style: none;
}
Fin Footer */

/*Footer 2*/
footer {
  background-color: #222324;
  color: white;

}
.footerContainet{
  width: 100%;
  padding: 20px;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons img{
  margin: 20px 20px 0px 20px;
  width: 35px;
  height: 35px;
}
.footerNav{
  margin: 20px;
}
.footerNav ul{
  display: flex;
  justify-content: center;
  list-style: none;
}
.footerNav ul li a{
  margin: 20px;
  text-decoration: none;
}
.footerBottom{
  background-color: #7842a1;
  text-align: center;
  padding: 15px;
}

@media (max-width: 700px){
  .footerNav ul{
      align-items: center;
      flex-direction: column;
  }
  .footerNav ul li{
      width: 100%;
      text-align: center;
      margin: 10px;
  }
  .footerNav{
      align-items: center;
      align-content: center;
      align-self: center;
  }
}

/* Fin Footer 2 */

/* Productos */
.products {
  background-color: #f0e0da;
  padding: 20px;
  text-align: center;
}

.products h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: left;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.product {
  background-color: #fff;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;

  width: auto;
  height: auto;
  /*le añadi flexbox para que el texto este en linea todos*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  flex-grow: 1; /*para que el texto del producto este recto con los otros productos*/
  width: 80%;
  height: 80%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
}

.product span {
  font-weight: bold;
  color: #7842a1;
}

.products img {
  height: 180px;
  width: auto;
}

/* Inicio productos Xbox */
.productsXbox {
  background-color: #f0e0da;
  padding: 20px;
  text-align: center;
}

.productsXbox h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: left;
}

.product_Xbox-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.productsXbox {
  background-color: #f0e0da;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.productsXbox img {
  width: 50%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  /* Para que en modo movil no se distorsione la imagen*/
  object-fit: contain;
}

.productsXbox p {
  font-size: 16px;
  margin: 10px 0;
}

.productsXbox span {
  font-weight: bold;
  color: #7842a1;
}

/* Fin productos Xbox */



@media (max-width: 768px) {
  header {
      flex-direction: column;
      text-align: center;
  }

  header .nav-links {
      flex-direction: column;
      margin-top: 10px;
  }

  header .nav-links li {
      margin: 5px 0;
  }

  .hero h1 {
      font-size: 28px;
  }

  .hero p {
      font-size: 16px;
  }

  .product-grid {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  /* Product Xbox */
  .product_Xbox-grid {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

/* Incio vinyl PC */
.vinyl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 200px;
  text-align: center;
  background-color: #f9f9f9;
}

.vinyl img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.vinyl p {
  font-weight: bold;
  font-size: 16px;
  margin: 5px 0;
}

.vinyl span {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

/* Fin vinyl PC */

/* Mandos xbox */
.mandos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 200px;
  text-align: center;
  background-color: #f9f9f9;
}

.mandos img {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.mandos p {
  font-size: 16px;
  margin: 5px 0;
}

.mandos span {
  font-size: 14px;
  color: #555;
}


.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


/*Slider para pc*/
.slider {
  background-color: #f0e0da;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 20px;
}

.slider h2 {
  text-align: left;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  text-align: center;
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.slider-btn.left {
  left: 10px;
}

.slider-btn.right {
  right: 10px;
}



/*Slider para pc fin*/

.cart, .checkout {
  max-width:80%;
  /*para que se vea centrado*/
  margin: 0px auto;
  padding: 20px;
}

h1, h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cart-items {
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /*line separacion entre articulos*/
  border-bottom: 2px solid #7842a1;
  padding-bottom: 20px;
}

.cart-item img {
  width: 100px;
  margin-right: 20px;
}

.cart-item-details h3 {
  font-size: 18px;
}

.cart-item-details .price {
  font-size: 16px;
  font-weight: bold;
  color: #7842a1;
}

.cart-item-details button {
  padding: 10px 20px;
  background-color: #7842a1;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
  margin-top: 10px;

}
.cart-item-details button:hover {
  background-color: white;
  color: #7842a1;
}



.cart-summary {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.checkout form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.checkout label {
  font-size: 16px;
  margin: 10px 0 5px;
}

.checkout input, .checkout select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #222324;
  border-radius: 5px;
}

.checkout button {
  background-color: #7842a1;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.cart-summary .checkout-button {
  padding: 10px 20px;
  background-color: #7842a1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.cart-summary .checkout-button:hover {
  background-color: white;
  color: #7842a1;
}

.btn-index {
  padding: 10px 20px;
  background-color: #7842a1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.btn-index:hover {
  background-color: white;
  color: #7842a1;
}

/* 480px  */
@media (min-width: 480px) {
  .vinyl {
      max-width: 200px;
  }

  /* mandos Xbox */
  .mandos {
      max-width: 200px;
  }

  .hero h1 {
      font-size: 26px;
  }

  header .nav-links a {
      font-size: 17px;
  }
}

/* 768px */
@media (min-width: 768px) {
  .product-grid {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  /* product xbox */
  .product_Xbox-grid {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .slider {
      max-width: 800px;
  }

  .hero-for-pc .hero-image {
      max-width: 250px;
  }
}

/* 1024px  */
@media (min-width: 1024px) {
  .product-grid {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  /* product xbox */
  .product_Xbox-grid {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .hero-for-pc .hero-content {
      gap: 50px;
  }
}


/* 1200px */
@media (max-width: 1200px) {
  .hero-content {
      padding: 0 30px;
  }
}

/* 1024px */
@media (max-width: 1024px) {
  header {
      padding: 15px;
  }

  .hero-for-pc .text-section {
      max-width: 50%;
  }

  .slider {
      max-width: 90%;
  }
}

/*  768px */
@media (max-width: 768px) {
  /* Header */
  header {
      flex-direction: column;
      height: auto;
      padding: 15px;
  }

  .nav-links {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 15px;
  }

  .nav-links li {
      margin: 8px;
  }

  /* Hero Section */
  .hero-for-pc .hero-content {
      flex-direction: column;
      text-align: center;
  }

  .hero-for-pc .text-section {
      max-width: 100%;
      margin-bottom: 30px;
  }

  .hero-for-pc .hero-image {
      max-width: 200px;
  }

  /* Products */
  .product-grid {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  /* product xbox */
  .product_Xbox-grid {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  /* Slider */
  .slider-nav .dot {
      width: 8px;
      height: 8px;
  }
}

/*  480px */
@media (max-width: 480px) {

  h1, h2 {
      font-size: 1.5rem;
  }

  /* Header */
  .logo img {
      width: 40px;
  }

  .logo a {
      font-size: 20px;
  }

  .nav-links {
      font-size: 16px;
  }

  /* Hero Section */
  .hero-for-pc {
      padding: 30px 15px;
  }

  .hero-for-pc h1 {
      font-size: 28px;
  }

  .hero-for-pc p {
      font-size: 16px;
  }

  /* Products */
  .product {
      padding: 15px;
  }

  .product img {
      height: 150px;
  }

  /* product xbox */
  .productsXbox {
      padding: 15px;
  }

  .productsXbox img {
      height: auto; /* Ensure aspect ratio is maintained */
      width: 100%; /* Adjust width to fit container */
  }

  /* Slider */
  .slider-nav {
      bottom: 5px;
  }

  /* Cart */
  .cart-item img {
      max-width: 60px;
  }
}

@media (max-width: 360px) {
  .nav-links li {
      margin: 5px;
  }

  /* product PC */
  .product-grid {
      grid-template-columns: 1fr;
  }

  /* Product Xbox */
  .product_Xbox-grid {
      grid-template-columns: 1fr;
  }

  .login-box {
      width: 95%;
      padding: 20px;
  }
}



/* Sigo con el estilo de index aqui porque no encuentro el resto */
.featured {
  background-color: #454851;
  color: white;
  text-align: center;
}

.featured h1{
  background-color: #7842a1;
  padding: 10px;
  font-size: 27px;
}

.featured img {
  height: 300px;
  border-radius: 10px;
  border: solid 2px white;
}
.featured-dentro{
  padding: 10px;
}
.featured button {
  padding: 10px 20px;
  background-color: #7842a1;
  color: white;
  border-radius: 5px;
  margin: 10px;
  border: 0px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}


/* no se que es esto ni donde va */
.plus-rep-foru {
  max-width: 500px;
  max-height: auto;
  margin-left: 500px;
  margin-bottom: 200px;
  margin-top: 40px;
}

.product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;


}

.btnU {
  display: inline-block;
  padding: 12px 20px;
  background-color: #7842a1;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.btnU:hover {
  background-color: #5a2e80;
}


.product-image {
  max-width: 500px;
  border-radius: 10px;
  margin-right: 30px;
}

.product-info {
  max-width: 600px;
}

.product-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
}

.product-description {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.product-price {
  font-size: 22px;
  font-weight: bold;
  color: #7842a1;
  margin-bottom: 20px;
}



/*cesta*/

.pedido button {
  color: #7842a1;
}

.cesta-img  img{
  width: 40px;
}

/*cesta fin*/

/*user-page*/

.logo-user-page {
  max-width: 100px;
  max-height: auto;
  margin: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin: 20px;
}

.login-box {
  background: rgba(34, 35, 36, 0.9);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 500px;
  height: 450px;
  margin: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.login-box h2 {
  color: #fff;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #3b3b3b;
  color: #fff;
}

.forgot-password {
  display: block;
  color: #a09fa0;
  margin-bottom: 15px;
  font-size: 14px;
  text-decoration: none;
}

.create-acc {
  display: block;
  color: #a09fa0;
  margin-bottom: 15px;
  font-size: 14px;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #7842a1;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.login-btn:hover {
  background: #5a2e80;
}


/*hover para las imagenes*/
/*inicio*/

div.product-grid div.product {
  /*para que la imagen se quede dentro*/
  overflow: hidden;
  position: relative;
}


div.product-grid div.product img {
  transition: transform 0.3s ease-in-out;
  object-fit: contain;
  width: 80%;
  height: auto;
}

div.product-grid div.product img:hover {
  /*La hace un poco más grande*/
  transform: scale(1.1);
}


/*los mismo hovers de arriba pero para los contenedores de vinyl*/
div.container div.vinyl{
  overflow: hidden;
  position: relative;
}


div.container div.vinyl img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

div.container div.vinyl img:hover {
  transform: scale(1.1);
}

/* hovers para contenedores de mandos */
div.container div.mandos{
  overflow: hidden;
  position: relative;
}


div.container div.manods img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

div.container div.mandos img:hover {
  transform: scale(1.1);
}
