<main>
    <section class="hero-for-pc">
        <div class="hero-content">
            <div class="text-section">
                <h1>PC GAMES</h1>
                <p>
                    Ediciones coleccionista para PC <br>
                    de tus juegos favoritos y vinilos de bandas sonoras.
                </p>
                <a href="#" class="btn">Ver catálogo</a>
            </div>
            <!--<img src="/assets/pc/1.png" alt="PC Gaming" class="hero-image">-->
        </div>
    </section>
    <app-slider></app-slider>

    <div class="featured">
        <h1>Productos</h1>
    </div>
    <section class="products">
        <div class="slider-container">
            <div class="slider-track">
              <div class="slide">
                <img src="/assets/pc/slider/fable.webp" alt="Fable">
                <div class="slide-text">
                  <h2>Fable</h2>
                  <p>TEXTO.TEXTO.TEXTO.TEXTO.TEXTO.TEXTO.TEXTO.TEXTO.</p>
                </div>
              </div>
              <div class="slide">
                <img src="/assets/pc/slider/mafia.jpg" alt="Mafia">
                <div class="slide-text">
                  <h2>Mafia</h2>
                  <p>Классика мафиозной драмы в стиле ретро возвращается.</p>
                </div>
              </div>
              <div class="slide">
                <img src="/assets/pc/slider/avowed.jpg" alt="Avowed">
                <div class="slide-text">
                  <h2>Avowed</h2>
                  <p>Эпическая фэнтези RPG от создателей The Outer Worlds.</p>
                </div>
              </div>
            </div>
          </div>

          <script>
            let currentSlide = 0;
            const slides = document.querySelectorAll('.slide');
            const track = document.querySelector('.slider-track');
          
            function showSlide(index) {
              track.style.transform = `translateX(-${index * 100}%)`;
            }
          
            setInterval(() => {
              currentSlide = (currentSlide + 1) % slides.length;
              showSlide(currentSlide);
            }, 5000); // каждые 5 секунд
          </script>
          
          
        
        <h2>Ediciones coleccionista para PC</h2>
        <app-product-card [product]="{
            title: 'Angry Birds Space (PC)',
            image: '/assets/index/smtDevil.jpg',
            description: 'Test de campo para juego',
            price: '10.99€'
          }"></app-product-card>
          
          <div class="product-grid">
            <div class="product">
                <img src="/assets/pc/NewVegas.jpg" alt="Product 1">
                <p>Fallout New Vegas PC</p>
                <span>299.99€</span>
            </div>
            <div class="product">
                <img src="/assets/pc/batman arkham knight.jpg" alt="Product 2">
                <p>Batman Arkham Knight PC</p>
                <span>349.99€</span>
            </div>
            <div class="product">
                <img src="/assets/pc/starwars_jedi.webp" alt="Product 3">
                <p>Star Wars Jedi Survivor PC</p>
                <span>249.99€</span>
            </div>
          </div> &nbsp;&nbsp;
          <div class="product-grid">
            <div class="product">
                <img src="/assets/pc/cyberpunk.jpg" alt="Product 1">
                <p>Cyberpunk2077 PC</p>
                <span>249.99€</span>
            </div>
            <div class="product">
                <img src="/assets/pc/stalker-2-limited-edition.jpg" alt="Product 2">
                <p>S.T.A.L.A.K.E.R 2 PC</p>
                <span>249.99€</span>
            </div>
            <div class="product">
                <img src="/assets/pc/baldursGate3.jpg" alt="Product 3">
                <p>Baldurs Gate 3 PC</p>
                <span>199.99€</span>
            </div>
          </div> &nbsp;&nbsp;
        <h2>Vinyl</h2>
        <div class="container">
            <div class="vinyl">
                <img src="/assets/pc/vinyl/persona3.webp" alt="Producto 1">
                <p>Persona 3 Vinyl</p>
                <span>Precio: €109.99</span>
            </div>
            <div class="vinyl">
                <img src="/assets/pc/vinyl/silent hill.jpg" alt="Producto 2">
                <p>Silent Hill Vinyl</p>
                <span>Precio: €109.99</span>
            </div>
            <div class="vinyl">
                <img src="/assets/pc/vinyl/doom.webp" alt="Producto 4">
                <p>DOOM Vinyl</p>
                <span>Precio: €109.99</span>
            </div>
            <div class="vinyl">
                <img src="/assets/pc/vinyl/theWalkingDead.webp" alt="Producto 5">
                <p>The Walking Dead Vinyl</p>
                <span>Precio: €99.99</span>
            </div>
            <div class="vinyl">
                <img src="/assets/pc/vinyl/metalGearSolid.webp" alt="Producto 6">
                <p>Metal Gear Solid Vinyl</p>
                <span>Precio: €109.99</span>
            </div>
            <div class="vinyl">
                <img src="/assets/pc/vinyl/alanWake2.webp" alt="Producto 7">
                <p>Persona Alan Wake II Vinyl</p>
                <span>Precio: €49.99</span>
            </div>
          </div>
        &nbsp;&nbsp;
        <div class="logo-grid">
            <div class="logo-card">
                <img src="/assets/pc/atlusLogo.webp" alt="Atlus Logo">
            </div>
            <div class="logo-card">
                <img src="/assets/pc/FinalFantasyLogo.png" alt="Final Fantasy Logo">
            </div>
            <div class="logo-card">
                <img src="/assets/pc/CD_Projekt_logo.png" alt="CD Projekt Logo">
            </div>
            <div class="logo-card">
                <img src="/assets/pc/Activision-Logo.png" alt="Activision Logo">
            </div>
            <div class="logo-card">
                <img src="/assets/pc/Bethesda_Game_Studios_logo.svg.png" alt="Bethesda Logo">
            </div>
          </div>
          
          <div class="logo-grid">
            <div class="logo-card">
                <img src="/assets/pc/capcomLogo.png" alt="Capcom Logo">
            </div>
            <div class="logo-card">
                <img src="/assets/pc/fromsoftwareLogo.jpg" alt="FromSoftware Logo">
            </div>
            <div class="logo-card">
                <a href="/assets/ubisoftRespectPage.html">
                    <img src="/assets/pc/ubisoftLogo.jpg" alt="Ubisoft Logo">
                </a>
            </div>
            <div class="logo-card">
                <img src="/assets/pc/EAlogo.png" alt="EA Logo">
            </div>
            <div class="logo-card">
                <img src="/assets/pc/remedy_new_logo.jpg" alt="Remedy Logo">
            </div>
          </div> &nbsp;
    </section>              
</main>