<main>
<!--     <section class="hero-for-pc">
        <div class="hero-content">
            <div class="text-section">
                <h1>LOST GAMES</h1>
                <p>
                    Los Games más Lost de internet. <br>
                    bibubip
                </p>
                <a href="#" class="btn">Ver catálogo</a>
            </div>
        </div>
    </section>  -->
    <app-hero
    title="LOST GAMES"
    description="Los Games más Gay de internet. bibubip"
    buttonText="Ver catálogo"
    buttonLink="/producto"
    customClass="hero-default">
  </app-hero>

    <div class="home-wrapper">
        <section class="hero-section">
          <h1>Bienvenido a  LOST GAMES</h1>
          <p>Ediciones de coleccionista, títulos raros y todo lo que ama un jugador.</p>
          <!--<a class="explore-btn" href="#">Ver Catalogo</a>-->
        </section>

        <section class="about-section">
          <h2>Sobre nosotros</h2>
          <p>
            Coleccionamos videojuegos únicos y raros, libros de arte y recuerdos para verdaderos conocedores. Aquí encontrarás algo que ni siquiera está en Steam.
          </p>
        </section>

        <section class="highlights-section">
            <div class="highlight-boxes vertical">

              <div class="highlight">
                <h3>🎮 Unicidad</h3>
                <p>Cada producto es como un artefacto del mundo de los juegos.</p>
              </div>

              <div class="highlight big-game-block adventure-block">
                <h3>🗺️ Aventura Legendaria</h3>
                <p>Un homenaje a las aventuras clásicas. ¡Descubre artefactos antiguos, misterios perdidos y secretos escondidos en cada rincón del mundo!</p>
                <a routerLink="/xbox" routerLinkActive="active">
                    <button class="wishlist-btn">Comprar</button>
                  </a>
                <img src="/assets/index/indiana.avif" alt="Aventura Legendaria">
              </div>

              <div class="highlight">
                <h3>🕹 Soporte independiente</h3>
                <p>Promovemos desarrolladores pequeños pero talentosos.</p>
              </div>

              <div class="highlight big-game-block">
                <h3>🐭 Mouse P.I. for Hire</h3>
                <p>
                  "Detective Privado MAUS" es un shooter en primera persona de estilo "noir", inspirado en los dibujos animados clásicos de los años 30. <br>
                  Como el detective privado Jack Pepper, explora una ciudad plagada de corrupción, <br>
                  invadida por delincuentes y bandidos de todo tipo, y descubre los oscuros secretos de Mouseburg.
                </p>
                <a href="https://store.steampowered.com/app/2416450/MOUSE_PI_For_Hire/">
                    <button class="wishlist-btn">Agregar a Wishlist</button>
                  </a>
                <img src="/assets/index/mouse.avif" alt="Mouse P.I. for Hire">
              </div>

              <div class="highlight">
                <h3>💎 Calidad</h3>
                <p>Cada producto es seleccionado a mano.</p>
              </div>

            </div>
          </section>


      </div>



</main>
