.featured {
    background-color: #454851;
    color: white;
    text-align: center;
}

.featured h1{
    background-color: #7842a1;
    padding: 10px;
    font-size: 27px;
}

.featured img {
    height: 300px;
    border-radius: 10px;
    border: solid 2px white;
}
.featured-dentro{
    padding: 10px;
}
.featured button {
    padding: 10px 20px;
    background-color: #7842a1;
    color: white;
    border-radius: 5px;
    margin: 10px;
    border: 0px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

.hero-for-pc {
    background-image: url(/lost-games/public/assets/cupheada-para-header-de-pc.jpg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #222324;
    color: white;
    padding: 50px 20px;
}
