<main>
<!--     <section class="hero-for-pc">
        <div class="hero-content">
            <div class="text-section">
                <h1>LOST GAMES</h1>
                <p>
                    Los Games más Lost de internet. <br>
                    bibubip
                </p>
                <a href="#" class="btn">Ver catálogo</a>
            </div>
        </div>
    </section>  -->
    <app-hero
    title="LOST GAMES"
    description="Los Games más Gay de internet.<br>bibubip"
    buttonText="Ver catálogo"
    buttonLink="/producto/1"
    customClass="hero-default">
  </app-hero>
    <!--<div class="featured">
        <h1>OFERTA</h1>
        <div class="featured-dentro">
            <h2>Dr. House (Nintendo DS) (Versión francesa)</h2>
            <img src="/assets/index/smtDevil.jpg" alt="Dr. House (DS)">
        </div>
        <a href="../../img/"><button class="btn-index" >Cómpralo YA</button></a>
        <br>
        <br>
    </div>
    
    <div class="featured">
        <h1>Productos</h1>
    </div>

    <section class="products">
        <h2>Catálogo</h2>
        <app-product-card [product]="{
            title: 'Angry Birds Space (PC)',
            image: '/assets/index/smtDevil.jpg',
            description: 'Test de campo para juego',
            price: '10.99€'
          }"></app-product-card>
        <div class="product-grid">
            <div class="product">
                <img src="/assets/index/juegos/angry space.jpg" alt="Angry Birds Space (PC)">
                <p>Angry Birds Space (PC)</p>
                <span>10.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/juegos/beat the beat.jpg" alt="Beat the Beat (Wii)">
                <p>Beat the Beat Rhythm Paradise (Wii)</p>
                <span>15.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/juegos/camera cafe.png" alt="Camera Cafe (PC)">
                <p>Camera Cafe (PC)</p>
                <span>20.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/juegos/die simpsons das spiel.jpg" alt="Los Simpsons (PC) (Versión alemana)">
                <p>Los Simpsons (PC) (Versión alemana)</p>
                <span>12.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/juegos/seaman.jpg" alt="Seaman (Dreamcast)">
                <p>Seaman (Dreamcast)</p>
                <span>12.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/juegos/torrente.jpg" alt="Torrente (PC)">
                <p>Torrente (PC)</p>
                <span>12.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/juegos/torrente3.jpg" alt="Torrente 3 (PlayStation 2)">
                <p>Torrente 3 (PlayStation 2)</p>
                <span>12.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/juegos/Bookworm_Adventures_Cover.jpg" alt="Bookworm Adventures">
                <p>Bookworm Adventures</p>
                <span>12.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/juegos/de blob.jpg" alt="de Blob">
                <p>de Blob</p>
                <span>12.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/juegos/donkey konga.jpg" alt="Donkey Konga">
                <p>Donkey Konga</p>
                <span>12.99€</span>
            </div>
             <div class="product">
                <img src="/assets/index/juegos/dr.mario.webp" alt="Dr. Mario">
                <p>Dr. Mario</p>
                <span>12.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/juegos/guitar-hero.jpg" alt="Guitar Hero">
                <p>Guitar Hero</p>
                <span>12.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/juegos/lsd.jpg" alt="LSD: Dream Emulator">
                <p>LSD: Dream Emulator</p>
                <span>12.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/juegos/puppeteer.jpg" alt="Puppeteer">
                <p>Puppeteer</p>
                <span>12.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/juegos/VOODOO-VINCE.jpg" alt="Voodoo Vince">
                <p>Voodoo Vince</p>
                <span>12.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/juegos/warioland3.jpg" alt="Wario Land 3">
                <p>Wario Land 3</p>
                <span>12.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/Deadpool.jpg" alt="Torrente (PC)">
                <p>Deadpool (PC)</p>
                <span>12.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/spider.jpg" alt="Spider-Man">
                <p>Spider-Man: Shattered Dimensions - Xbox 360</p>
                <span>129.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/hades.jpg" alt="hades">
                <p>Hades</p>
                <span>199.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/wolf.jpg" alt="wolviren">
                <p>Wolverine</p>
                <span>99.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/simp.webp" alt="Simpsons">
                <p>Simpsons</p>
                <span>24.99</span>
            </div>
            <div class="product">
                <img src="/assets/index/uncharted.webp" alt="Uncharted">
                <p>Uncahrted</p>
                <span>39.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/futurama.jpg" alt="futurama">
                <p>Futurama</p>
                <span>49.99€</span>
            </div>
            <div class="product">
                <img src="/assets/index/smtDevil.jpg" alt="devilSurvivor">
                <p>Devil Survivor</p>
                <span>50.99€</span>
            </div>
        </div>
    </section>
    -->

    <div class="home-wrapper">
        <section class="hero-section">
          <h1>Bienvenido a  LOST GAMES</h1>
          <p>Ediciones de coleccionista, títulos raros y todo lo que ama un jugador.</p>
          <!--<a class="explore-btn" href="#">Ver Catalogo</a>-->
        </section>
      
        <section class="about-section">
          <h2>Sobre nosotros</h2>
          <p>
            Coleccionamos videojuegos únicos y raros, libros de arte y recuerdos para verdaderos conocedores. Aquí encontrarás algo que ni siquiera está en Steam.
          </p>
        </section>
      
        <section class="highlights-section">
            <div class="highlight-boxes vertical">
            
              <div class="highlight">
                <h3>🎮 Unicidad</h3>
                <p>Cada producto es como un artefacto del mundo de los juegos.</p>
              </div>
          
              <div class="highlight big-game-block adventure-block">
                <h3>🗺️ Aventura Legendaria</h3>
                <p>Un homenaje a las aventuras clásicas. ¡Descubre artefactos antiguos, misterios perdidos y secretos escondidos en cada rincón del mundo!</p>
                <a routerLink="/xbox" routerLinkActive="active">
                    <button class="wishlist-btn">Comprar</button>
                  </a>
                <img src="/assets/index/indiana.avif" alt="Aventura Legendaria">
              </div>
          
              <div class="highlight">
                <h3>🕹 Soporte independiente</h3>
                <p>Promovemos desarrolladores pequeños pero talentosos.</p>
              </div>
          
              <!-- Блок для Mouse P.I. for Hire -->
              <div class="highlight big-game-block">
                <h3>🐭 Mouse P.I. for Hire</h3>
                <p>
                  "Detective Privado MAUS" es un shooter en primera persona de estilo "noir", inspirado en los dibujos animados clásicos de los años 30. <br>
                  Como el detective privado Jack Pepper, explora una ciudad plagada de corrupción, <br>
                  invadida por delincuentes y bandidos de todo tipo, y descubre los oscuros secretos de Mouseburg.
                </p>
                <a href="https://store.steampowered.com/app/2416450/MOUSE_PI_For_Hire/">
                    <button class="wishlist-btn">Agregar a Wishlist</button>
                  </a>
                <img src="/assets/index/mouse.avif" alt="Mouse P.I. for Hire">
              </div>
          
              <div class="highlight">
                <h3>💎 Calidad</h3>
                <p>Cada producto es seleccionado a mano.</p>
              </div>
          
            </div>
          </section>
          
          
      </div>
      
      
      
</main>
