<main>
  <section class="hero-for-pc">
      <div class="hero-content">
          <div class="text-section">
              <h1>XBOX GAMES</h1>
              <p>
                  Ediciones coleccionista para todos tipos de Xbox <br>
                  de tus juegos favoritos Consolas, Mandos y mucho más
              </p>
              <a href="#" class="btn">Ver catálogo</a>
          </div>
          <img src="" alt="XBOX" class="hero-image">
      </div>
  </section>
  <div class="featured">
      <h1>Productos</h1>
  </div>
  <section class="products">

      <div class="product-grid">
          <div class="product">
              <img src="../../../assets/xbox/" alt="Product 1">
              <p>titulo</p>
              <span>€</span>
          </div>
          <div class="product">
              <img src="../../../assets/xbox/" alt="Product 2">
              <p>titulo</p>
              <span>€</span>
          </div>
          <div class="product">
              <img src="../../../assets/xbox/" alt="Product 3">
              <p>titulo</p>
              <span>€</span>
          </div>
      </div> &nbsp;&nbsp;
      <div class="product-grid">
          <div class="product">
              <img src="../../../assets/xbox/" alt="Product 1">
              <p>titulo</p>
              <span>€</span>
          </div>
          <div class="product">
              <img src="../../../assets/xbox/" alt="Product 2">
              <p>titulo</p>
              <span>€</span>
          </div>
          <div class="product">
              <img src="../../../assets/xbox/" alt="Product 3">
              <p>titulo</p>
              <span>€</span>
          </div>
      </div> &nbsp;&nbsp;
      <h2>Mandos</h2>
      <div class="container">
          <div class="vinyl">
              <img src="../../../assets/xbox/mandos/" alt="Producto 1">
              <p>titulo</p>
              <span>Precio:</span>
          </div>
          <div class="vinyl">
              <img src="../../../assets/xbox/mandos/" alt="Producto 2">
              <p>titulo</p>
              <span>Precio:</span>
          </div>
          <div class="vinyl">
              <img src="../../../assets/xbox/mandos/" alt="Producto 3">
              <p>titulo</p>
              <span>Precio:</span>
          </div>
          <div class="vinyl">
              <img src="../../../assets/xbox/mandos/" alt="Producto 4">
              <p>titulo</p>
              <span>Precio:</span>
          </div>
          <div class="vinyl">
              <img src="../../../assets/xbox/mandos/" alt="Producto 5">
              <p>titulo</p>
              <span>Precio:</span>
          </div>
          <div class="vinyl">
              <img src="../../../assets/xbox/mandos/" alt="Producto 6">
              <p>titulo</p>
              <span>Precio:</span>
          </div>
          <div class="vinyl">
              <img src="../../../assets/xbox/mandos/" alt="Producto 7">
              <p>titulo</p>
              <span>Precio:</span>
          </div>
      </div>
      &nbsp;&nbsp;
      <div class="product-grid">
          <div class="product">
              <img src="../../../assets/play/marcas/asboiTeam.jpg" alt="AsboiTeam">
          </div>
          <div class="product">
              <img src="../../../assets/play/marcas/InsomniacGamesLogo3.webp" alt="InsomniacGames">
          </div>
          <div class="product">
              <img src="../../../assets/play/marcas/naughtydog.png" alt="Naughtydog">
          </div>
      </div> &nbsp;&nbsp;
      <div class="product-grid">
          <div class="product">
              <img src="../../../assets/play/marcas/SantaMonicaStudio.png" alt="SantaMonicaStudio">
          </div>
          <div class="product">
              <img src="../../../assets/play/marcas/SquareEnix.jpg" alt="SquareEnix">
          </div>
          <div class="product">
              <img src="../../../assets/play/marcas/SuckerPunchProductions.webp" alt="SuckerPunchProductions">
          </div>
      </div> &nbsp;
  </section>
</main>

