<main>
  <section class="hero-for-pc">
      <div class="hero-content">
          <div class="text-section">
              <h1>XBOX GAMES</h1>
              <p>
                  Ediciones coleccionista para todos tipos de Xbox <br>
                  de tus juegos favoritos Consolas, Mandos y mucho más
              </p>
              <a href="#" class="btn">Ver catálogo</a>
          </div>
          
      </div>
  </section>
  
  <app-slider [images]="[
    '/assets/xbox/PerfectDark.jpg',
    '/assets/xbox/gears-of-war-e-day.webp',
    '/assets/xbox/doomTDA.jpg'
      ]"></app-slider>

  <div class="featured">
      <h1>Productos</h1>
  </div>
  <section class="products">

    

      <div class="product-grid">
          <div class="product">
              <img src="/assets/xbox/metaphor.jpg" alt="Product 1">
              <p>Metaphor Re:Fantasio</p>
              <span>199€</span>
          </div>
          <div class="product">
              <img src="/assets/xbox/Armored core.webp" alt="Product 2">
              <p>Armored Core</p>
              <span>250€</span>
          </div>
          <div class="product">
              <img src="/assets/xbox/starField.jpg" alt="Product 3">
              <p>Starfield</p>
              <span>350€</span>
          </div>
      </div> &nbsp;&nbsp;
      <div class="product-grid">
          <div class="product">
              <img src="/assets/xbox/doomCollectors.avif" alt="Product 1">
              <p>DOOM The Dark Ages</p>
              <span>249.99€</span>
          </div>
          <div class="product">
              <img src="/assets/xbox/yakuza.webp" alt="Product 2">
              <p>Yakuza Pirate</p>
              <span>100€</span>
          </div>
          <div class="product">
              <img src="/assets/xbox/indiana.webp" alt="Product 3">
              <p>Indiana Jones And The Greate Circle</p>
              <span>200€</span>
          </div>
      </div> &nbsp;&nbsp;
      <h2>Mandos</h2>
      <div class="container">
          <div class="vinyl">
              <img src="/assets/xbox/mandos/Elite Series 2 Core.webp" alt="Producto 1">
              <p>Elite Series 2 Core</p>
              <span>Precio: 100€</span>
          </div>
          <div class="vinyl">
              <img src="/assets/xbox/mandos/Ghost Cipher.webp" alt="Producto 2">
              <p>Ghost Cipher</p>
              <span>Precio: 100€</span>
          </div>
          <div class="vinyl">
              <img src="/assets/xbox/mandos/Microsoft Elite Series 2.webp" alt="Producto 3">
              <p>HALO</p>
              <span>Precio: 100€</span>
          </div>
          <div class="vinyl">
              <img src="/assets/xbox/mandos/Phantom Magenta.webp" alt="Producto 4">
              <p>Phantom Magenta</p>
              <span>Precio: 100€</span>
          </div>
          <div class="vinyl">
              <img src="/assets/xbox/mandos/Starfield.webp" alt="Producto 6">
              <p>Starfield</p>
              <span>Precio: 100€</span>
          </div>
          <div class="vinyl">
              <img src="/assets/xbox/mandos/Titanfall Limited Edition.webp" alt="Producto 7">
              <p>Titanfall Limited Edition</p>
              <span>Precio: 100€</span>
          </div>
      </div>
      &nbsp;&nbsp;
      <div class="product-grid">
          <div class="product">
              <img src="/assets/xbox/studios/sand.png" alt="expidition33">
          </div>
          <div class="product">
              <img src="/assets/xbox/studios/comgames.png" alt="coplition games">
          </div>
          <div class="product">
              <img src="/assets/xbox/studios/bethesda.png" alt="bethesda">
          </div>
      </div> &nbsp;&nbsp;
      <div class="product-grid">
          <div class="product">
              <img src="/assets/xbox/studios/pg.jpg" alt="playground">
          </div>
          <div class="product">
              <img src="/assets/xbox/studios/the caolition.jpg" alt="the caolition">
          </div>
          <div class="product">
              <img src="/assets/xbox/studios/ACTIVISION.png" alt="ACTIVISION">
          </div>
      </div> &nbsp;
  </section>
</main>

